@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  button {
    font-family: "yg-jalnan";
    width: 5rem;
    height: 2rem;
    margin: 0;
    text-transform: uppercase;
    background: #515ada;
    color: white;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    border-radius: 10px;
  }

  input {
    font-family: "yg-jalnan";
    width: 22rem;
    height: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.5rem;
  }
}
