@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
.innerContainer {
  width: 30rem;
  height: 40rem;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.09709394011510852) 0%,
    rgba(255, 255, 255, 0.5312676095828957) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}
