@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.react-scroll-to-bottom--css-efmyy-1n7m0yu {
  display: flex;
  flex-direction: column;
}

.message {
  font-family: "yg-jalnan";
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  display: flex;
}
.messageContainer {
  height: 30rem;
}

.my {
  justify-content: flex-end;
  div {
    float: right;
    max-width: 15rem;
    color: white;
    background: #515ada; //linear-gradient(0, #efd5ff 0%, #515ada 100%);
    padding: 0.5rem;
    border-radius: 10px;
  }
}
.other {
  flex-direction: column;
  .text {
    float: left;
    max-width: 15rem;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 10px;
  }
}

.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 3rem;
    border-radius: 20px;
  }
}
