@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.joinOuterContainer {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.joinInnerContainer {
  margin: 1rem;
  width: 30rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  padding: 0 50px;
  div {
    width: 100%;
    display: flex;
    input {
      font-family: "yg-jalnan";
      width: 100%;
      height: 3rem;
      margin-top: 0.5rem;
      outline: none;
      border: none;
      border-radius: 10px;
      box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      padding: 0 10px;
      text-align: center;
      font-size: 1.5rem;
    }
    ::placeholder {
      color: rgb(200, 200, 200);
    }
  }
  border: 1px solid rgba(255, 255, 255, 0.5);

  a:active {
    transition: transform 0.1s;
    transform: scale(1.05);
  }
  input:focus {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
  }
}

.heading {
  font-family: "yg-jalnan";
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 50px;
}

button {
  font-family: "yg-jalnan";
  width: 100%;
  padding: 10px 0;
  border: 2px solid rgba(255, 255, 255, 0.8);
  margin: 0 20px;
  border-radius: 20px;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
